= partial(CodebreakerRack::ALL_PARTIALS[:assets])
.text-center
  %img.img-fluid.error_404{alt: '404', src: "/public/assets/images/404.png"}
  %h3.text-primary
    = I18n.t('error_404')
  = partial(CodebreakerRack::ALL_PARTIALS[:home_button])
