%hr.mb-4/
%a.btn.btn-primary.btn-lg{:href => "/", :role => "button"}
  = I18n.t('buttons.play_again')
%a.btn.btn-success.btn-lg.float-right{:href => "/stats", :role => "button"}
  = I18n.t('buttons.statistics')
